<% include header %>
<h2>this is the msg contain</h2>
<% if(locals.msg){ %>
    <% if(locals.msg === 'no'){ %>
    <div class="ui negative message">
        <%= msg %>
    </div>
    <% }elsse{ %>
    <div class="ui positive message">
        <%= msg %>
    </div>
    <% } %>
<% } %>
<form action="/" method="POST" class="ui form">
    <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
    </div>
    <button type="submit" class="ui blue labeled submit icon button">
        <i class="icon edit"></i>Envoyer
    </button>
</form>
<% include footer %>
