<!DOCTYPE html>
<html>
<head>
    <title>Page Index</title>
    <link rel="stylesheet" href="/semantic/semantic.min.css">
</head>
<body>
    <h2>this is the msg contain</h2>
    <p><%= msg%></p>
</body>
</html>