<% include header %>

<div class="ui comments">

    <h3 class="ui dividing header">Country</h3>

        
            <div class="comment">
                <div class="content">
                        <%= country.name %>  
                    <div class="metadata">
                        <div class="date">
                            <%= country.created_at.fromNow() %>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <button onclick="javascript:history.go(-1)" class="ui green labeled submit icon button">
                    <i class="icon remove"></i>Retour
            </button>
  

</div>
<% include footer %>
